body,
html {
	margin: 0;
	padding: 0;
	font-family: font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Dosis', sans-serif;
}

.main {
	min-height: 100%;
	width: 100%;
	padding-bottom: 45px;
}
main > a{
	text-decoration: none;
	color: black;
}
.nav {
	position: fixed;
	display: block;
	height: 12%;
	width: 100%;
	z-index: 100;
}

.navul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navli {
	float: left;
	width: 20%;
	height: 100%;
}




.s2,
.s6,
.fifth-arrow,
.first-arrow {
	background-color: #ca537e;
}
.s3,
.second-arrow {
	background-color: #91b943;
}
.s4,
.third-arrow {
	background-color: #dd7911;
}
.s5,
.fourth-arrow {
	background-color: #766ea8;
}
.fifth-arrow {
	background-color: #ca537e;
}

.arrow {
	height: 75px;
	width: 75px;

	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: -35px;
	border-radius: 100%;
	position: relative;
}
.glyphicon-chevron-down:before {
		font-size: 2em;
		color: #ffffff;
}
.first {
	background-image: url("../bilder/Make_IT.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.container {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 66%;
	color:#ffffff;
	text-align: justify;
}
.banner {

	width: 100%;
	margin:0;

	/* Text inuti bannern */
	font-size: 8em;
	color: white;
	text-align: center;
}
.second {
	background-color: #ca537e;
}
.third {
	background-color: #91b943;
}
.fourth  {
	background-color: #dd7911;
}
.fifth  {
	background-color: #766ea8;
}
.sixth {
	background-color: #ca537e;
}

.up-circle {
	position: fixed;
	bottom: 50px;
	right: 50px;
	height: 80px;
	width: 80px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.up-arrow {
	margin-top: -10px;
}
.glyphicon-chevron-up:before {
		font-size: 3em;
		color: red;
}
