
@media (max-width: 749px) {
    .banner {	font-size: 3em;	}

    .midline {
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
    }

    iframe.youtube {
      height: 75vw;
      width: 100%;
    }
}

@media (min-width: 750px) {
    .banner {font-size: 4em;}

    .midline {
      margin-left: 20%;
      margin-right: 20%;
      width: 60%;
    }

    iframe.youtube {
      height:40vw;
      width: 100%;
    }
}

@media (min-width: 970px) {
    .banner {font-size: 5em;}
}

@media (min-width: 1170px) {
    .banner {font-size: 8em;}
    iframe.youtube {
      flex
      height:20vw;
      width: 33%;
    }
    div.youtube {
      display: flex;
      display: -webkit-flex;
      justify-content: center;

    }
}




body,
html {
	margin: 0;
	padding: 0;
	font-family: font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

section, header, footer {
	min-height: 100%;
	width: 100%;
	padding-bottom: 65px;
}


a {
	text-decoration: none;
  color:#ffffff;
}


.nav {
	position: fixed;
	display: block;
	height: 12%;
	width: 100%;
	z-index: 100;
	margin:0;
  transition: height 1s;
}

.navul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navli {
	float: left;
	width: 20%;
	height: 100%;
}


.logo {
	background-image: url("../bilder/Make_IT.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}


p {
	margin-top: 20px;
	color:#ffffff;
	text-align: justify;
	font-size: 1.5em;
}






.banner {

	width: 100%;
	margin:0;

	/* Text inuti bannern */

	color: white;
	text-align: center;
}

.white {
	background-color: #ffffff;
  color:#111111;
}

.pink {
	background-color: #ca537e;
  color:#ffffff;
}
.green {
	background-color: #91b943;
  color:#ffffff;
}
.orange  {
	background-color: #dd7911;
  color:#ffffff;
}
.blue  {
	background-color: #766ea8;
  color:#ffffff;
}

.down-arrow {
	height: 75px;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: -35px;
	border-radius: 100%;
	position: relative;
  padding-top:5px;
}


.glyphicon-chevron-down:before {
		font-size: 2em;
}

#up-arrow {
	position: fixed;
	bottom: -60px;
	right: 50px;
	height: 80px;
	width: 80px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  transition: bottom 1s, color 1s;
  font-size: 3em;
  color: #ffffff;
}


img.nti-logo {
  width:40%;
  margin-left: 30%;
  margin-right: 30%;
}
